html {
		cursor: crosshair;
}

body {
	background-color: black;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}


.leaflet-clickable {
	display:none;
}
/*.leaflet-marker-shadow {
	display:none;
}*/

.leaflet-bottom {
	display:none;
}

ul {
	display: inline; 
	padding-left: 20px;
}

ul li {
	padding-left: 20px;
	font-size: 12px;
}

#map { height: 600px; 
	margin: 0;}

//customizing leaflet styling
.leaflet-popup-tip {
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);	
}

.leaflet-popup-content-wrapper {
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);	
}

.leaflet-popup-content {
	font-size: 10px;
	margin: 13px 15px 10px;
	line-height: 1;
}

.leaflet-container {
    background-color: black;
}